* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
h2 {
  color: rgb(49, 32, 19);
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 2px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: rgb(92, 75, 54);
  /*background-color: rgba(172, 222, 210, 0.847);*/
  /*background-color: rgba(100, 176, 159, 0.847);*/
  background: url(../img/korpa-pozadina.jpeg) no-repeat center/cover;
}
#svi-proizvodi-iz-korpe img{
    width: 80px;
    height: 80px;
    border-radius:10px;
    border: 1px solid rgb(59, 40, 27);
}
.korpa{
    
    text-align: center;
}
.korpa h2{
    margin:20px auto;
    letter-spacing: 2px;
   
}
table{
    margin: 0 auto;
    width: 80%;
    background-color: rgba(255, 252, 231, 0.803);
    border-radius: 20px;
    text-align: center;
    border-collapse: collapse;
    border:2px solid black;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgb(88, 86, 86);
}
td{
    border:1px solid black;
    padding: 10px;

}
th{
    border: 1px solid black;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 10px;
    
}
#svi-proizvodi-iz-korpe{
    
    padding: 20px;
    
    
}
.obrisi{
   font-size: 25px;
   border:none;
   background-color: transparent;
   cursor:pointer;
   color: rgb(87, 73, 59);
}
.obrisi:hover{
    transform:scale(1.05);
    transition:0.3s;
    color: rgb(96, 82, 69);
}
input{
    padding: 5px;
    width:20%;
    border-radius: 7px;
     background-color: rgb(235, 231, 217);
  border: 2px solid rgb(106, 98, 87);
}